/* p::first-line{
    color: aqua;
} */

/* p::first-letter{
    color: aqua;
} */

p::before{
    content: "before nice";
    background-color:  aqua;
    /* width: 100vw;
    height: 100vh; */
    /* display: block; */

    /* position: absolute;
    top: 0%;
    z-index:-1;
    opacity: 0.1; */
}

p::after{
    content: "nice after";
    background-color:  yellow;
}

*{
    margin: 0%;
}
 
input::-webkit-file-upload-button{
    background-color: rgb(192, 211, 125);
    padding: 2rem;
    border: none;
    border-radius:  50px;
    width: 100%;
}

input{
    font: bold 1.5rem "Gill sans";
    color: red;
} 

input::placeholder {
    color: green;
}
